.report-section {
    margin-top: 15rem;
    width: 100%;
    height: 70rem;
    overflow: hidden;
    z-index: -3;
    position: relative;

    &-top {
        // height: 30rem;
        position: relative;
        padding-top: 4rem;

        &__heading {
            color: $color-secondary-dark;
            height: 5rem;
            font-style: normal;
            font-size: 4rem;
        }
    }

    &-badges {
        position: absolute;
        top: 45rem;
        left: 50%;
        height: 40rem;
        width: 90rem;
        object-position: center;
        transform: translate(-50%, -50%);

        &-1 {
            // background: #fff;
            display: flex;
            height: 15rem;
            width: 80rem;
            margin-bottom: 5rem;
            border-radius: 10px;

            &-badge {
                height: 15rem;
                width: 30rem;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 1rem 4rem rgba(#000, .4);

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &-title {
                    display: flex;

                    &-text {
                        height: 10rem;
                        width: 50%;
                        padding: 2rem;
                        font-size: 1.6rem;
                        line-height: 1.2;
                        color: $color-secondary-dark;
                        font-weight: 400;
                    }

                    &-logo {
                        margin-left: 5rem;
                        height: 100%;
                        width: 40%;
                        padding: 2rem;
                    }
                }

                &-link {
                    display: flex;

                    &-1 {
                        padding: 2rem;
                        font-size: 1.2rem;
                        color: $color-secondary-dark;
                        font-weight: 400;
                    }

                    &-2 {
                        width: 50%;
                        padding: 2rem;
                        color: red;
                        margin-left: 4rem;
                        font-weight: 400;
                    }
                }

                &:hover {
                    translate: scale(1.2);
                }
            }
        }


        &-2 {
            display: flex;
            height: 15rem;
            width: 80rem;
        }

    }
}

.bottom-outline {
    @include outline-bottom;
}

.circle-bg-style-1 {
    position: absolute;
    top: -10rem;
    left: 13%;
    clip-path: circle(50% at 50% 50%);
    width: 90.8rem;
    height: 90.8rem;
    background: #FFEAEA;
    opacity: 0.47;
    z-index: -1;
}

.circle-bg-style-2 {
    position: absolute;
    top: -17rem;
    right: -30rem;
    width: 58.5rem;
    height: 58.5rem;
    background: $color-secondary-dark;
    clip-path: circle(50% at 50% 50%);
}

.circle-bg-style-3 {
    position: absolute;
    top: 40rem;
    left: -20rem;
    width: 58.5rem;
    height: 58.5rem;
    background: $color-secondary-dark;
    clip-path: circle(50% at 50% 50%);
}

.circle-bg-style-4 {
    position: absolute;
    top: 34rem;
    width: 13.3rem;
    height: 13.3rem;
    background: rgba($color-secondary-light, .4);
    clip-path: circle(50% at 50% 50%);
    z-index: 2;
}

.circle-bg-style-5 {
    position: absolute;
    top: 55rem;
    right: 1.5rem;
    width: 10.7rem;
    height: 10.7rem;
    background: rgba($color-secondary-light, .6);
    clip-path: circle(50% at 50% 50%);
}